body {
  background-color: rgb(22, 21, 21);
  box-sizing: border-box;
  color: rgb(202, 199, 199);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.splash-header {
  letter-spacing: 8px;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 520px;
  left: 0;
  right: 0px;
  padding: 16px 0;
  border-bottom: solid 2px #584C34;
  width: 721px;
  animation-duration: 1s;
  animation-delay: .4s;
}

.background-img {
  opacity: 0.4;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
  left: 0px;
  right: 0px;
  height: 400px;
  width: auto;
}

.splash-subheader {
  letter-spacing: 8px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 615px;
  left: 0;
  right: 0px;
  padding: 20px 0;
  width: 721px;
  animation-duration: 3s;
  animation-delay: .9s;
}

.splash {
  text-align: center;
}

#drake {
  color: #584C34;
}



/* make album art images rounded edges (border radius) whenever a new album cums up*/ 