body {
  background-color: rgb(22, 21, 21);
  box-sizing: border-box;
  color: rgb(202, 199, 199);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.splash-header {
  letter-spacing: 8px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 520px;
  left: 0;
  right: 0px;
  padding: 16px 0;
  border-bottom: solid 2px #584C34;
  width: 721px;
  animation-duration: 1s;
  animation-delay: .8s;
}

.background-img {
  opacity: 0.4;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
  left: 0px;
  right: 0px;
  height: 400px;
  width: auto;
  animation-duration: 6s;
  animation-delay: .35s;
}

.splash-btn {
  letter-spacing: 4px;
  font-size: 14px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 625px;
  left: 0;
  right: 0;
  padding: 4px 0 4px 4px;
  width: 70px;
  border: solid 2px #584C34;
  background-color: rgb(22, 21, 21);
  animation-duration: 3s;
  animation-delay: 1.3s;
  text-align: center;
  color: rgb(202, 199, 199);
  text-transform: uppercase;
}

.splash-btn:hover {
  background-color: #584C34;
  color: rgb(22, 21, 21);
  border-color: #584C34;
}

.splash {
  text-align: center;
  font-weight: bold;
}

#drake {
  color: #584C34;
}

.header {
  background-color: #584C34;
  width: 100%;
  height: 90px;
}

.header h1 {
  padding-top: 23px;
  text-align: center;
  color: rgb(22, 21, 21);
  font-weight: bold;
  filter: drop-shadow(3px 2px 4px rgb(202, 199, 199)) brightness(100%);
}

footer {
  background-color: #584C34;
  width: 100%;
  height: 90px;
}

footer img {
  height: 90%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 5px;
  left: 2px;
  right: 0;
}

.scoreboard {
  border: solid 3px #584C34;
  border-radius: 5px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 130px;
  left: 0;
  right: 0;
  height: 130px;
  width: 250px;
  opacity: 0.7;
}

.hide {
  display: none;
}

.directions {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 350px;
  left: 0;
  right: 0;
  text-align: center;
  width: 800px;
  letter-spacing: 2px;
}

.directions h2 {
  letter-spacing: 4px;
  padding-bottom: 5px;
  width: 240px;
  margin: auto auto 15px auto;
  border-bottom: solid 2px #584C34
}

.boldGold {
  color: #584C34;
  font-weight: bold;
}


.album-art {
  height: 225px;
  width: 225px;
  /* position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 38%;
  left: 25%; */
  border-radius: 10px;
  opacity: 0.7;
  margin-left: 140px;
  margin-top: 220px;
  padding: 0;
}


.game-page {
  transition: opacity 2s ease-out;
  opacity: 0;
  height: 0; 
  overflow: hidden;
}
.active {
  opacity: 1;
  height: auto;
}

.info-right {
  font-size: 1.2em;
  font-weight: bold;
  width: 10px;
  margin-top: 240px;
  padding-right: 100px;
  color: #584C34;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

.guessedLetters {
  margin-top: 45px;
}

#remainingGuess {
  color: rgb(202, 199, 199);
  font-size: 1.4em;
}

#lettersGuessed {
  color: rgb(202, 199, 199);
} 

.wordToGuessDisplay {
  width: 820px;
  height: 100px;
  margin-top: 30px;
  padding: 15px 35px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(202, 199, 199);
}

.letterBox {
  border: solid 1.5px #584C34;;
  width: 33px;
  height: 40px;
  display: inline-block;
  border-radius: 7px;
  padding-top: 3px;
}

.hiddenDIV {
  visibility: hidden;
}







/* make album art images rounded edges (border radius) whenever a new album cums up*/ 




/*   letter-spacing: 8px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 615px;
  left: 0;
  right: 0px;
  padding: 20px 0;
  width: 721px;
  animation-duration: 3s;
  animation-delay: 1.3s; */